header {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.header-row {
  background-color: transparent;
  position: relative;
  width: 80%;
  top: 1rem;
}

.brand-area {
  display: flex;
  justify-content: flex-start;
}

#brand-logo {
  height: 3rem;
}

.icon-area {
  display: flex;
  justify-content: flex-end;
}

.icon-list li {
  display: inline;
  margin: 1rem;
}

.header-icon {
  height: 2.2rem;
}