#project-title {
  font-size: 2.75rem;
}

#project-tech-list {
  display: block;
}

.project-description-area {
  background-color: var(--dark-green);
  height: fit-content;
  padding: 0.5rem;
  box-shadow: var(--green-box-shadow);
  /* margin-bottom: 1rem; */
  /* padding: 1rem; */
}

#project-description-text {
  font-size: var(--text-font-size);
  /* margin: 1rem; */
  /* padding: 1rem; */
  background-color: var(--dark-green);
}

.project-tech-area {
  /* background-color: purple; */
  height: 1.7rem;
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.project-tech-area ul {
  padding: 0%;
  margin-left: 1rem;
}

.project-tech {
  display: inline;
  padding-right: 1rem;
  font-style: italic;
  font-size: var(--text-font-size);
}

.project-link-area {
  /* background-color: green; */
  height: 1.7rem;
  display: flex;
  justify-content: end;
}

.project-link {
  font-size: var(--text-font-size);
  display: inline;
}

.project-link-icon {
  width: 2.5rem;
}

.back-area {
  /* background-color: aqua; */
  height: 1rem;
  display: flex;
  justify-content: end;
}

.back-btn {
  text-align: center;
  position: relative;
  top: 2rem;
  left: -2rem
}