/* .screen {
  background-color: blue;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: red;
  height: 75vh;
  width: 75rem;
}

.title-row {
  background-color: aquamarine;
  height: 7rem;
}

.body-row {
  background-color: green;
  height: 35rem;
}

.body-col {
  background-color: aliceblue;
}

#left {
background-color: bisque;
}

#right {
  background-color: blueviolet;
} */











/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 

 } */

 /* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 

} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

 /* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/*  XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */