* {
  font-family: serif;
  font-family: var(--text-font-family);
  color: var(--text-color);
}

:root {
  --title-font-family: 'Quattrocento', serif;;
  --title-font-size: 4rem;
  --text-font-family: 'Questrial', sans-serif;
  --text-font-size: 1.1rem;
  --text-color: #F8F8F6;
  --blue: #0C236E;
  --light-blue: #3F5086;
}

.app {
  padding-left: 0%;
  padding-right: 0%;
}

h1, h2, h3 {
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
  font-weight: bold;
  letter-spacing: -3px;
}

hr {
  color: pink;
}